@import "../../.cache/wal/waybar.css";

window {
    background-color: transparent;
}

#box {
    background-color: alpha(@background, 0.6);
    border: 1px solid alpha(@color4, 0.4);
    border-radius: 20px;
    padding: 6px 12px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

button {
    background-color: transparent;
    border: none;
    border-radius: 12px;
    padding: 6px;
    margin: 0 4px;
    transition: all 0.2s cubic-bezier(0.25, 1, 0.5, 1);
}

button:hover {
    background-color: alpha(@color4, 0.3);
    box-shadow: 0px 0px 10px alpha(@color4, 0.5);
}

button:focus {
    box-shadow: none;
}

image {
    background-color: transparent;
}
